html,body,* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

body {

    color: #4f2100;
    background-image: linear-gradient(#DF8B46,#BE5f1b);
}

.main-header 
{
    width: 50%;
    text-align: center;
    font-size: 8rem;
    margin: auto;
    margin-top: 30rem;
    margin-bottom: 30vh;
    animation: header 3s linear;
    animation-iteration-count: infinite;
}

@keyframes header{
100%, 0%{
  color: red;
}
8% {
  color: orangered;
}
16% {
  color: orange;
}
25%  {
  color: yellow;
}
33% {
color: greenyellow;
}
41% {
color: lime;
}
50% {
  color: cyan;
}
58% {
  color: lightskyblue;
}
66% {
  color: blue;
}
75% {
  color:rgb(127, 0, 225);
}
83% {
  color: rgb(225, 0, 255);
}
91% {
  color: rgb(255, 0, 127);
}
}

#sub-header {
    padding-top: 2%;
    size: 10em;
}
h3 {
    font-size: 3rem;
}

.contents
{
    font-size: 4rem;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

img {
    border-radius: 4rem;
    width: 50rem;
    height: 42rem;
    object-fit: cover;
}

.item {
    border-radius: 4rem;
    background-color:#d67947 ;
    width: 45rem;
    text-align: center;
    padding-bottom: 42rem;
    min-width: 50rem;
    max-height: 42rem;
    margin: 5rem;
    box-shadow: 1rem 1rem #883a19;
    -webkit-transition: 0.7s ease;
    transition:  0.7s ease;
}
img {
  transition: 1s ease;
}

#cookies:hover {
outline-offset: 1rem;
outline: 2rem solid #4f2100 ;
}

#forest:hover {
  transform: scale(1.1);
}

#gilmore img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
#gilmore:hover img{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

#bicycle:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
 #lighter:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
 }
 