html,body,* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}
.list {
    font-size: 4rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;

}
.item
{
    background-color: aqua;
    padding: 5rem;
    width: 10rem;
    text-align: center;
margin: 3rem;
    height: 10rem;
}